<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-addressMain(user, addressList)">
  <div class="main-content-container">
    <div class="main-content">
      <div class="addressList">
        <th:block th:each="address : ${addressList}">
          <div class="address">
            <p th:text="${address.receiverName}"></p>
            <p>
              <span th:if="${address.main}" class="default-address">기본배송지</span>
              <span th:if="${user.rocketMembership}" class="rocket-wow">로켓와우가능</span>
            </p>
            <p th:text="${address.address}"></p>
            <p th:text="${address.telephone}"></p>
            <p th:text="${address.place}"></p>
            <button type="button" class="btn btn-primary"
                    th:onclick="'location.href = \'' + @{/address/edit/{addressId}(addressId=${address.id})} + '\''">수정</button>
          </div>
        </th:block>
      </div>
      <button class="btn btn-primary" th:onclick="'location.href = \'' + @{/address/add} + '\''">배송지 추가</button>
    </div>
  </div>
</div>
</html>
