<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Coupang</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="nav.html :: fragment-nav()"></div>
<div class="content-container">
  <div class="content">
    <div class="side-content">
      <nav>
        <div class="side-menu-box">
          <li class="side-menu" onclick="location.href='/order/list'">주문목록/배송조회</li>
          <li class="side-menu" onclick="location.href='/membership'">와우 멤버십</li>
          <li class="side-menu" onclick="location.href='/coupon'">할인 쿠폰</li>
          <li class="side-menu" onclick="location.href='/address'" style="color: #0074e9">배송지 관리</li>
          <li class="side-menu" onclick="location.href='/user/modify'">개인정보확인/수정</li>
        </div>
      </nav>
    </div>
    <div class="main-content-container">
      <th:block th:switch="${addressPage}">
        <th:block th:case="'main'">
          <div th:replace="/mycoupang/address/addressMain.html :: fragment-addressMain(${user}, ${addressList})"></div>
        </th:block>
        <th:block th:case="'edit'">
          <div th:replace="/mycoupang/address/addressEdit.html :: fragment-addressEdit(${user}, ${address})"></div>
        </th:block>
        <th:block th:case="'add'">
          <div th:replace="/mycoupang/address/addressAdd.html :: fragment-addressAdd(${addressDto})"></div>
        </th:block>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>