<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Coupang</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="nav.html :: fragment-nav(${user})"></div>
<div class="content-container">
  <div class="content">
    <div class="side-content">
      <nav>
        <div class="side-menu-box">
          <li class="side-menu" onclick="location.href='/order/list'">주문목록/배송조회</li>
          <li class="side-menu" onclick="location.href='/membership'" style="color: #0074e9">와우 멤버십</li>
          <li class="side-menu" onclick="location.href='/coupon'">할인 쿠폰</li>
          <li class="side-menu" onclick="location.href='/address'">배송지 관리</li>
          <li class="side-menu" onclick="location.href='/user/modify'">개인정보확인/수정</li>
        </div>
      </nav>
    </div>
    <div class="main-content-container">
      <div class="main-content">
        <h1>로켓와우 멤버십 관리</h1>
        <div th:if="${user.rocketMembership}">
          <h3>현재 로켓 와우 회원입니다.</h3>
          <button class="btn btn-danger" onclick="membershipToggle()">해제</button>
        </div>
        <div th:unless="${user.rocketMembership}">
          <h3>현재 로켓 와우 회원아닙니다.</h3>
          <button class="btn btn-primary" onclick="membershipToggle()">가입</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/membership.js"></script>
</body>
</html>