.side-content {
  width: 150px;
  float: left;
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
  min-height: 1000px;
}

.side-menu-box {
  font-size: 14px;
  line-height: 16px;
  margin-top: 11px;
  box-sizing: border-box;
  padding-left: 10px;
}

.side-menu {
  list-style: none;
  margin-bottom: 10px;
}

.error-message {
  display: none;
  font-size: 10px;
  color: red;
}

.success-message {
  display: none;
  font-size: 10px;
  color: #0074e9;
}

.default-address {
  font-size: 15px;
}

.rocket-wow {
  font-size: 15px;
  color: #00aeff;
}

.address {
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
}
