<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer class="footer" th:fragment="fragment-footer()" style="font-size: 12px; text-align: center; padding-bottom: 10px">
    <div class="container">
      <div>상호명 : 넘블</div>
      <div>대표이사 : 김민수</div>
      <div>사업자등록번호 : 123-45-67890</div>
      <div>통신판매업번호 : 2021-서울종로-1111</div>
      <div>사업장 소재지 : 서울특별시 종로구 종로 6, 5층 스타트업빌리지(서린동, 광화문우체국)</div>
    </div>
  </footer>
</html>