<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="content" th:fragment="fragment-mcAddressManage()">
  <div class="side-content">
    <nav>
      <div class="side-menu-box">
        <li class="side-menu" onclick="location.href='/mc/orderList'">주문목록/배송조회</li>
        <li class="side-menu" onclick="location.href='/mc/membership'">와우 멤버십</li>
        <li class="side-menu" onclick="location.href='/mc/coupon'">할인 쿠폰</li>
        <li class="side-menu" onclick="location.href='/mc/address'" style="color: #0074e9">배송지 관리</li>
        <li class="side-menu" onclick="location.href='/userModify'">개인정보확인/수정</li>
      </div>
    </nav>
  </div>
</div>
</html>