<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="head.html :: fragment-head()"></head>
<body>
<div th:replace="nav.html :: fragment-nav(${user})"></div>
<main id="main" class="content-container">
  <div class="content">
    <ul id="categoryTrack">
      <li><a href="/">낮은가격순</a>&nbsp ></li>
      <li><a href="/">높은가격순</a>&nbsp ></li>
      <li><a href="/">판매량순</a>&nbsp ></li>
      <li><a href="/">최신순</a>&nbsp ></li>
    </ul>
    <div th:replace="productGrid.html :: fragment-productGrid(${productPage})"></div>
  </div>
</main>
<div th:replace="paginationBar.html :: fragment-paginationBar(${productPage})"></div>
</body>
</html>